@import "tailwindcss";

@theme {
  --animate-wave: wave 4s ease-in-out infinite;

  @keyframes wave {
    0%,
    100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
  }
}